* {
  box-sizing: border-box;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

.light {
  background-color: white;
  color: black;
}
.dark {
  background-color: #1c2022;
  color: white;
}

a.active {
  color: rgb(187, 46, 31);
}
.container {
  padding: 50px 100px;
  min-height: 100vh;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#header > ul > li {
  display: inline;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}
a {
  text-decoration: none;
  /* color: black; */
}
[data-links="link-light"] {
  color: black;
}
[data-links="link-dark"] {
  color: white;
}
[data-testid="tail-spin-loading"]{
  margin-top: 50px;
  justify-content: center;
}

.switch-icon {
  background: none;
  border: none;
  font-size: 35px;
}
.nav-bar {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.seciton-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  box-sizing: content-box;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0px;
  width: 250px;
  background: rgba(0, 0, 0, 0.08);
}

.card > img {
  width: 150px;
  height: 150px;
  border-radius: 3px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
}
.card-number {
  font-size: 2rem;
  text-align: center;
  margin: 20px;
}
.repo-link > a {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(187, 46, 31);
}
.repo-link {
  text-align: center;
  margin: 20px;
}
.card-info {
  display: flex;
  flex-direction: column;
}
.card-info > li {
  font-size: 20px;
  margin: 10px;
}
.card-info > li > img {
  height: 20px;
  width: 20px;
}
.git-profile {
  font-weight: 500;
}

#icon {
  margin-right: 10px;
}
input[type="radio"] {
  display: none;
}
.switch-language {
  margin: 0 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
input[type="radio"]:checked + label {
  color: rgb(187, 46, 31);
}

/* for battle page */

.battle-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.battle-instruction {
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.instruction-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}
.instruction-card > img {
  background: rgba(0, 0, 0, 0.08);
  padding: 40px;
  margin-top: 10px;
}
.instruction-card {
  width: 350px;
  margin: 10px 5px;
}

.battle-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
input[type="submit"] {
  cursor: pointer;
}

.players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.player-input {
  text-align: left;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}
.player {
  font-size: 2rem;
  margin-right: 40px;
}
.player-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-right: 40px;

}
.player-button > img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
.player-button > a {
  margin-right: auto;
  color: rgb(187, 46, 31);
  padding-right: 50px;
}
.result-form {
  display: flex;
  font-size: 0.9rem;
  margin-top: 10px;
}
.result-form > input {
  font-size: 1rem;
  padding: 10px 10px;
  margin-right: 5px;
}

.battle-button {
  align-self: center;
  letter-spacing: 3px;
  margin-top: 20px;
  padding: 10px 40px;
  font-size: 1.1rem;
  color: white;
  background-color: black;
  border-radius: 3px;
  cursor: pointer;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}
.result-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cross-button {
  background-color: rgb(187, 46, 31);
  cursor: pointer;
  border: none;
  text-align: center;
  font-size: 15px;
  color: white;
  border-radius: 50%;
}
